{% extends 'layout/base-layout.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/dashboard_style.css' %}">
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar">
            <img src="{% static 'img/tokoIG.jpg' %}" alt="logo" width="200" height="70" style="margin-bottom: 10px">
            <ul>
                <li><a href=""><i class="fas fa-braille"></i>Dashboard</a></li>
                <li><a href="{% url 'demo:demo-list' %}"><i class="fas fa-clone"></i>Demo</a></li>
                <li><a href="{% url 'prscrpt:prscrpt-list' %}"><i class="fas fa-dollar-sign"></i>Prescription</a></li>
                <li><a href="{% url 'medicine:medicine-list' %}"><i class="fas fa-file-invoice-dollar"></i>Medicine</a></li>
                <li><a href=""><i class="fas fa-users"></i>Receipt</a></li>
                <li><a href=" "><i class="fas fa-running"></i>Inventory</a></li>
                <li><a href=""><i class="fas fa-sign-out-alt"></i>Daily Report</a></li>
            </ul>

        </div>
        <div class="main_content">
            <div class="info">
                <div class="container">

                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}