{% extends 'layout/dashboard-layout.html' %}

{% block content %}


<h4>Balance sheet</h4>
    <form action="" method="post">
       {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <a style="color: #412885" href="{% url 'balanceSheet:balanceSheet-list' %}"><i class="fas fa-arrow-left"></i></a>
                    </div>
                    <div class="col">
                        <div class="d-flex align-items-end justify-content-end">
                            <a style="color: #412885" href="#" onclick="$(this).closest('form').submit();"><i class="fas fa-save"></i></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card-body">

<!--                &lt;!&ndash;Report ID&ndash;&gt;-->
<!--                <div class="form-group">-->

<!--                    <input type="text" class="form-control" id="id" aria-describedby="id" placeholder="Report ID" name="bs_id" value="{{ object.id }}">-->
<!--                </div>-->

<!--                &lt;!&ndash;Year&ndash;&gt;-->
<!--                <div class="form-group">-->

<!--                    <input type="date" class="form-control" id="year" aria-describedby="year" placeholder="Year" name="year" value="{{ object.year }}">-->
<!--                </div>-->

<!--                &lt;!&ndash;Assets&ndash;&gt;-->
<!--                 <div class="form-group">-->

<!--                    <input type="number" class="form-control" id="assets" aria-describedby="assets" placeholder="Assets($)" name="assets" value="{{ object.assets }}">-->
<!--                </div>-->

<!--                &lt;!&ndash;Liabilities&ndash;&gt;-->
<!--              <div class="form-group">-->

<!--                    <input type="number" class="form-control" id="liabilities" aria-describedby="liabilities" placeholder="Liabilities($))" name="liabilities" value="{{ object.liabilities }}">-->
<!--                </div>-->

<!--                &lt;!&ndash;Equities&ndash;&gt;-->
<!--              <div class="form-group">-->

<!--                    <input type="number" class="form-control" id="equities" aria-describedby="equities" placeholder="Equities($)" name="equities" value="{{ object.equities }}">-->
<!--                </div>-->





<!--            </div>-->
                {{form.as_p}}
        </div>

    </form>




{% endblock %}>