{% extends 'layout/dashboard-layout.html' %}

{% block content %}



    <div class="card">

        <div class="card-header">
            <div class="row">
                <div class="col">
                    <a style="color: #412885" href="{% url 'demo:demo-create' %}"><i class="fas fa-plus"></i></a>
                </div>

            </div>
        </div>

        <div class="card-body">

            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">age</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>


                {% for object in  object_list %}
                    <tr>
                        <th scope="row">{{ object.id }}</th>
                        <th scope="row">{{ object.name }}</th>
                        <th scope="row">{{ object.age }}</th>
                        <td>
                            <div>
                                <a href="{% url 'demo:demo-update' object.id %}" role="button"
                                   class="btn  edit-btn" style="padding: 0 0 0 0"><i
                                        class="fas fa-edit fa-lg"></i></a>

                                <button type="button" class="btn dropdown-toggle dropdown-toggle-split"
                                        data-toggle="dropdown"
                                        aria-expanded="false"
                                        style="padding: 0 0 0 10px;"></button>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item delete-btn" href="#">

                                            <form action="{% url 'demo:demo-delete' object.id %}" method="post">
                                                {% csrf_token %}
                                                <button class="btn btn-sm" type="submit"
                                                        onclick="return confirm('Are you sure you want to delete?')"><i
                                                        class="far fa-trash-alt m-1"></i> Delete
                                                </button>
                                            </form>


                                        </a>

                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>

        </div>


    </div>






{% endblock %}


{% block model %}

{% endblock %}