{% extends 'layout/base-layout.html' %}
{% load static %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar">
            <img src="{% static 'img/tokoIG.jpg' %}" alt="logo" width="200" height="70" style="margin-bottom: 10px">
            <ul>
                <li><a href="{% url 'clinical:doctor-list' %}"><i class="fas fa-clone"></i>Medical Profile</a></li>
            </ul>

        </div>
        <div class="main_content">
            <div class="info">
                <div class="container-fluid">

                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}