{% extends 'layout/base-layout.html' %}

{% block body %}
    {% if object.records %}

        {% for record  in object.records %}
            <div class="card mb-4">
                <div class="card-body">
                    <div style="background-color: #E9ECEF"
                         class="mb-4">{{ record.created |date:'Y-m-d H:i' }}</div>
                    <div class="border mb-4">
                        <fieldset class="mt-3">
                            <legend class="ml-4">Diagnosis</legend>
                            <p class="ml-4">{{ record.diagnosis }}</p>
                        </fieldset>
                    </div>

                    <div class="border mb-4">
                        <fieldset class="mt-3">
                            <legend class="ml-4">Lab Report</legend>
                            <ul class=" ml-4 list-group">
                                {% if record.labs %}
                                    {% for lab in record.labs %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            {{ lab.name }}
                                            <span class="badge badge-primary badge-pill">{{ lab.status }}</span>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </fieldset>
                    </div>

                    <div class="border mb-4">
                        <fieldset class="mt-3">
                            <legend class="ml-4">Prescription</legend>
                            {% if record.prescriptions %}

                                <table class="  table table-sm ">
                                    <thead>
                                    <tr>

                                        <th scope="col">Doug name</th>
                                        <th scope="col">Dose</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Duration</th>

                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for prescription in record.prescriptions %}

                                        <tr>
                                            <td>{{ prescription.doug_name }}</td>
                                            <td>{{ prescription.dose }}</td>
                                            <td>{{ prescription.time }}</td>
                                            <td>{{ prescription.duration }} {{ prescription.duration_text }}</td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </fieldset>
                    </div>

                </div>
            </div>
        {% endfor %}


    {% endif %}

{% endblock %}