{% extends 'layout/dashboard-layout.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Delete Room RMS
{% endblock title %}

{% block content %}
    <!--message window-->
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endif %}
    <!--message window-->

    <!--search window-->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Delete Romm By Name</h5>
            <hr>

            <div class="container pl-5 pr-5 enroll_form_padding" >

                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-8">
                          <input class="form-control" type="text" name="r_name" placeholder="Room Name" required>
                        </div>
                        <div class="col-sm-4">
                          <button type="submit" name = 'search_room_by_name' class="btn btn-outline-success w-100"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--search window-->


    {% if room_id %}
     <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Delete Room</h5>
                <hr>

                <h4>Room Id : {{ room_id }}</h4>

                <div class="container pl-5 pr-5 enroll_form_padding" >

                    <form action="" method="post">

                        {% csrf_token %}

                        Room Name : {{ room_name }} <br>
                        Room Size : {{ room_size }} <br>
                        Room Location : {{ room_location }}

                        <input type="hidden" name="r_id" value="{{ room_id }}">
                        <div class="mt-5 enroll_form_button_pannel">

                            <div>
                                <button type="submit" class="btn btn-outline-danger" name = " ">Yes I Want To Delete</button>
                                <button type="" class="btn btn-outline-info" name = "">Cancel</button>
                            </div>

                        </div>

                    </form>


                </div>
            </div>
     </div>
    {% endif %}

{% endblock %}