{% extends 'layout/dashboard-layout.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Add New Room RMS
{% endblock title %}

{% block content %}
    <!--message window-->
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endif %}
    <!--message window-->

     <div class="card">
            <div class="card-body">
                <h5 class="card-title">Register New Room</h5>
                <hr>

                <div class="container pl-5 pr-5 enroll_form_padding" >

                    <form action="" method="post">

                        {% csrf_token %}

                        {{ room_form.r_name | as_crispy_field}}

                        {{ room_form.r_size | as_crispy_field}}

                        {{ room_form.r_location | as_crispy_field}}


                        <div class="mt-5 enroll_form_button_pannel">

                            <div>
                                <button type="submit" class="btn btn-outline-success" name = "add_room">Add New Room</button>
                                <button type="reset" class="btn btn-outline-danger">Reset Form</button>
                            </div>

                        </div>

                    </form>


                </div>
            </div>
     </div>

{% endblock %}