{% extends 'layout/base-layout.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/dashboard_style.css' %}">
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar">
            <img src="{% static 'img/tokoIG.jpg' %}" alt="logo" width="200" height="70" style="margin-bottom: 10px">
            <ul>
                <li><a href="{% url 'billing:billing-list' %}"><i class="fas fa-braille"></i>Billing</a></li>
                <li><a href="{% url 'dashboard:patient_reg' %}"><i class="fas fa-users"></i>Reception</a></li>
                <li><a href=""><i class="fas fa-running"></i>Report</a></li>
                <li><a href="{% url 'guest:guest-list' %}"><i class="fas fa-running"></i>Guest</a></li>
                <li><a href=""><i class="fas fa-sign-out-alt"></i>Log out</a></li>
            </ul>

        </div>
        <div class="main_content">
            <div class="info">
                <div class="container">

                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}