{% extends 'layout/base-layout.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/dashboard_style.css' %}">
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar">
            <img src="{% static 'img/tokoIG.jpg' %}" alt="logo" width="200" height="70" style="margin-bottom: 10px">
            <ul>
                <li><a href=""><i class="fas fa-braille"></i>Dashboard</a></li>
                <li><a href="{% url 'items:items-list' %}"><i class="fas fa-prescription-bottle-alt"></i>Items</a></li>
                <li><a href="{% url 'suppliers:suppliers-list' %}"><i class="fas fa-user-friends"></i>Suppliers</a></li>
                <li><a href="{% url 'purchases:purchases-list' %}"><i class="fas fa-cash-register"></i>Purchase</a></li>
                <li><a href="{% url 'newSales:newSales-list' %}"><i class="fas fa-clipboard-check"></i>Sales</a></li>
                <li><a href="{% url 'stocks:stocks-list' %}"><i class="fas fa-book-reader"></i>Stock</a></li>
                <li><a href="{% url 'newOrder:newOrder-list' %}"><i class="fas fa-clipboard-list"></i>Orders</a></li>
                <li><a href=""><i class="fas fa-sign-out-alt"></i>Log out</a></li>
            </ul>

        </div>
        <div class="main_content">
            <div class="info">
                <div class="container">

                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}